.hero{
    height: 80vh;
    width: 97%;
 display: flex;
 flex-direction: column;
 .heroLinks{
     z-index: 99;
      position: relative;
     top: -16rem;
    //   right: 1rem;
    display: flex;
    flex-direction: column;
        margin-left: 2rem;
        padding: 1rem;
        font-size: 1.3rem;
        color: yellow;
        &:hover{
            color: rgb(161, 150, 150);
        }
    }
}