.zstories{
    .carousel{
        background: black;
        height: 77vh;
        img{
            align-items: start;
            display: flex;
            width: 98%;
            height: 77vh;
        }
    }
    background: white;

    .zstoriesDownSection{
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
      padding-bottom: 3rem;
      cursor: pointer;

        h1{
            font-size: 3rem;
            margin: 3rem;
            font-weight: 490;
        }
        .zstoriesImg4All{
            display: flex;
            flex-wrap: wrap;
            margin-left: 5rem;
            gap: 3px;
        }
    }
}